#heading    {
    font-size: 50px;
    font-family: "Algerian", sans-serif;
    margin-top: 100px;
}
#image{
    height: 350px;
    width: 500px
}
#file{
    margin-bottom: 50px;
    cursor: pointer;
}
#btn   {
    height: 35px;
    width: 200px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8432b5;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}
#link   {
    text-decoration: none;
}
#btn:active  {
    transform: scale(0.95);
}